/* Global */

:root{
  background-color: #F0DBA5;
}


body {
  font-family: 'Recoleta';
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#title {
  text-align: center;
  font-size: 30px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}


/* Side-Panel */

#side-panel {
margin: 0;
padding: 10px;
padding-top: 20px;
border: 2px solid black;
height: fit-content;
width: 22%;
}
#searchNav {
  position: sticky;
  display: flex;
  width: auto;
  border: 0 none;
  padding: 0 none;
  margin: 0 none;
}


#searchForm input{
  display: inline-block;
  font-size: 16px;
  border: 0 none;;
  box-sizing: border-box;
  float: left;
  height: 25px;
  width: 90%;
}
#searchForm button{
  display: inline-block;
  position: relative;
  width: 10%;
  padding: 0;
  text-decoration: none;
  border: none;
  margin: 0;
  float: left;
  height: 25px;
  box-sizing: border-box;
}
#searchFilter{
  padding: 0;
  height: 25px;
  display: block;
  width: 100%;

  text-align: center;
}
#searchForm::after {
  content: "";
  clear: both;
  display: table;
}
/* #filter-section */
.filter-section-form {
  display: flex;
}

li {
  list-style-type: none;
  display: flex;
}

.single-filter {
  border: black 1px solid;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px ;
}

.header-single-filter {
  text-align: center;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px;
  border-bottom-style: solid;
}

/* Card Section */

#container {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 68%;
    padding-left: 30px;
}
.cards{
    display: flex;
    gap: 5px;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
    padding: 20px;
    height: 235px;
}
.single-card {
    height: 222px;

}

.drink-img {
  position: relative;
  width: relative;
  height: 200px;
  padding: 10px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
}
.drink-img:hover{
  opacity: 0.5;
}

.drink-info {
  position: relative;
  background-color: white;
  font-size: 12px;
  width: 90px;
  right: -120px;
  bottom: 100px;
  opacity: 0.8;
}


.ingredient {
  position:relative;
  left: 600px;
  top: -600px;
  font-size: 25px;
}


/* Modal */
#drink-name-modal {
  font-size:xx-large
}


#drink-name-modal {
    font-size:xx-large
}

#img-modal{
    position: relative;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    width: 700px;
}

#ingredient-measure{
    font-size: larger;

}

td{
    padding-inline: 15px;
}

#instructions-modal{
    font-size: larger;
    width: 700px;
}








